body {
  margin: 40px 150px;
  padding: 25px;
  font-family: "Shadows Into Light Two", cursive;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
}

.units {
  position: relative;
  top: -18px;
  font-size: 12px;
}
